html{
    size: 100%;
    background-image: url('https://i.imgur.com/O6oeRhr.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body{

    background-image: url('https://i.imgur.com/dJhGtB2.png');
    background-size: auto;
    background-repeat: no-repeat;
}

.cmdwindow{;
}

#text{
    font-family: "Consolas";
    font-size: 14px;
    color: #C0C0C0;
    padding-top: 34px;
    padding-left: 5px;
}

#txt{
    font-family: "Consolas";
    font-size: 14px;
    color: #C0C0C0
}